@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Nunito;
}
.display-1 {
  font-family: 'Nunito', sans-serif;
  font-size: 6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-2 {
  font-family: 'Nunito', sans-serif;
  font-size: 3.6rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.5rem;
}
.display-4 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.88rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ed6436 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ed6436 !important;
  border-color: #ed6436 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #bc3c11 !important;
  border-color: #bc3c11 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #bc3c11 !important;
  border-color: #bc3c11 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #181818 !important;
  border-color: #181818 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #e0d40a !important;
  border-color: #e0d40a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #e0d40a !important;
  border-color: #e0d40a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #5c6e73 !important;
  border-color: #5c6e73 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5c6e73 !important;
  border-color: #5c6e73 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #84774a !important;
  border-color: #84774a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #84774a !important;
  border-color: #84774a !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ed6436;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #bc3c11 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ed6436 !important;
  border-color: #ed6436 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #181818;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #181818 !important;
  border-color: #181818 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #82786e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #534d46 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f7ed4a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #e0d40a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #879a9f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5c6e73 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b1a374;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #84774a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ed6436 !important;
}
.text-secondary {
  color: #181818 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ad3710 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ed6436;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ed6436;
  border-color: #ed6436;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ed6436;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fef4f1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ed6436 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ed6436;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ed6436;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ed6436;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ed6436;
  border-bottom-color: #ed6436;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ed6436 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #181818 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ed6436' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rGtQUWfKqN .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rGtQUWfKqN .nav-item:focus,
.cid-rGtQUWfKqN .nav-link:focus {
  outline: none;
}
.cid-rGtQUWfKqN .navbar-short {
  box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.3);
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item {
  font-weight: 700!important;
  padding: 0!important;
  border-bottom: 1px solid lightgray;
  margin: 0.5rem 1rem!important;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item:hover,
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item:active,
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item:focus {
  color: #ed6436 !important;
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rGtQUWfKqN .navbar-caption:hover {
  color: inherit!important;
}
.cid-rGtQUWfKqN .container {
  max-width: 1380px;
}
.cid-rGtQUWfKqN .nav-dropdown .link {
  padding: 0.8rem 0 !important;
  margin: 0rem 1.5rem !important;
}
.cid-rGtQUWfKqN .nav-link {
  font-weight: 700!important;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
.cid-rGtQUWfKqN .nav-link:hover,
.cid-rGtQUWfKqN .nav-link:active,
.cid-rGtQUWfKqN .nav-link:focus {
  border-bottom: 3px solid #ed6436;
  color: #ed6436 !important;
}
.cid-rGtQUWfKqN .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rGtQUWfKqN .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rGtQUWfKqN .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rGtQUWfKqN .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rGtQUWfKqN .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rGtQUWfKqN .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rGtQUWfKqN .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5rem);
  }
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rGtQUWfKqN .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rGtQUWfKqN .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rGtQUWfKqN .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rGtQUWfKqN .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rGtQUWfKqN .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rGtQUWfKqN .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rGtQUWfKqN .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rGtQUWfKqN .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rGtQUWfKqN .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rGtQUWfKqN .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rGtQUWfKqN .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rGtQUWfKqN .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rGtQUWfKqN .icons-menu span {
  color: #ed6436 !important;
}
.cid-rGtQUWfKqN .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rGtQUWfKqN .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rGtQUWfKqN .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rGtQUWfKqN .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rGtQUWfKqN .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rGtQUWfKqN .dropdown-item.active,
.cid-rGtQUWfKqN .dropdown-item:active {
  background-color: transparent;
}
.cid-rGtQUWfKqN .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rGtQUWfKqN .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rGtQUWfKqN .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rGtQUWfKqN .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rGtQUWfKqN .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rGtQUWfKqN .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rGtQUWfKqN ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rGtQUWfKqN .navbar-buttons {
  text-align: center;
}
.cid-rGtQUWfKqN button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #181818;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rGtQUWfKqN nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGtQUWfKqN nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rGtQUWfKqN nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rGtQUWfKqN nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGtQUWfKqN .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rGtQUWfKqN a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rGtQUWfKqN .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rGtQUWfKqN .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.cid-rGtQUWfKqN .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rGtQUWfKqN .navbar {
    height: 77px;
  }
  .cid-rGtQUWfKqN .navbar.opened {
    height: auto;
  }
  .cid-rGtQUWfKqN .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rGtR2nEWKI {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rGtR2nEWKI .content {
    max-width: 550px;
    margin: auto 0;
  }
}
@media (min-width: 767px) {
  .cid-rGtR2nEWKI .content {
    padding: 0 2rem;
  }
}
.cid-rGtR2nEWKI .row {
  justify-content: flex-end;
}
.cid-rGtR2nEWKI .img-col {
  padding: 0;
}
.cid-rGtR2nEWKI .icon-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.cid-rGtR2nEWKI .icon-wrap p {
  margin-bottom: 0.2rem;
}
.cid-rGtR2nEWKI .align-wrap {
  width: fit-content;
  display: inline-block;
}
.cid-rGtR2nEWKI .mbr-iconfont {
  font-size: 5rem;
  padding-right: 1.2rem;
  margin-right: 1.4rem;
  padding-bottom: 4px;
  border-right: 1px solid #181818;
}
.cid-rGtR2nEWKI .icon-title,
.cid-rGtR2nEWKI .mbr-iconfont {
  color: #181818;
}
.cid-rGtR2nEWKI .icons-wrap {
  display: flex;
}
@media (max-width: 992px) {
  .cid-rGtR2nEWKI .content {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rGtR2nEWKI .icons-wrap {
    flex-direction: column;
  }
  .cid-rGtR2nEWKI .icon-wrap {
    margin-right: 0rem;
  }
  .cid-rGtR2nEWKI .link-wrap {
    margin: auto;
  }
}
.cid-rGtR2nEWKI .link-wrap {
  position: relative;
  height: 130px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.cid-rGtR2nEWKI .link-wrap .bone {
  position: absolute;
  left: calc(50% - 125px);
  top: 0;
}
.cid-rGtR2nEWKI .link-wrap h3 {
  z-index: 10;
  margin: 0;
  transform: rotate(-6deg);
}
.cid-rGtR2nEWKI .link-wrap:hover {
  transform: rotate(12deg);
}
.cid-rGtR2MxTqJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rGtR2MxTqJ .link {
  opacity: 0;
  transform: translate(-10px, 40px);
  transition: all 0.3s;
  font-weight: 600;
  margin: 0;
}
.cid-rGtR2MxTqJ h4 {
  transform: translate(0px, 20px);
  animation: animationFramesOut linear 0.6s;
}
.cid-rGtR2MxTqJ .svg11 path {
  fill: #7aba59;
}
.cid-rGtR2MxTqJ .svg21 path {
  fill: #f9b945;
}
.cid-rGtR2MxTqJ .svg31 path {
  fill: #ed6436;
}
.cid-rGtR2MxTqJ .svg12 path,
.cid-rGtR2MxTqJ .svg22 path,
.cid-rGtR2MxTqJ .svg32 path {
  fill: #f2f2f4;
}
.cid-rGtR2MxTqJ .card {
  position: relative;
  height: 300px;
}
.cid-rGtR2MxTqJ .card:hover .link {
  opacity: 1;
  transform: translate(-10px, 10px);
  transition-delay: 0.6s;
}
.cid-rGtR2MxTqJ .card:hover h4 {
  animation: animationFrames linear 0.6s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  transform: translate(0px, 20px);
}
.cid-rGtR2MxTqJ .card:hover .svg11 {
  transform: skew(0deg, 10deg) scaleX(1) scaleY(0.9) rotate(-10deg);
}
.cid-rGtR2MxTqJ .card:hover .svg12 {
  transform: skew(0deg, 10deg) scaleX(1) scaleY(0.9) rotate(30deg);
}
.cid-rGtR2MxTqJ .card:hover .svg21 {
  transform: skew(-20deg, 10deg) scaleX(1) scaleY(0.9) rotate(-10deg);
}
.cid-rGtR2MxTqJ .card:hover .svg22 {
  transform: skew(-20deg, 10deg) scaleX(1) scaleY(0.9) rotate(20deg);
}
.cid-rGtR2MxTqJ .card:hover .svg31 {
  transform: skew(0deg, 10deg) scaleX(1) scaleY(0.9) rotate(-10deg);
}
.cid-rGtR2MxTqJ .card:hover .svg32 {
  transform: skew(0deg, 10deg) scaleX(1) scaleY(0.9) rotate(70deg);
}
.cid-rGtR2MxTqJ .card svg {
  position: absolute;
  top: -10px;
  left: 40px;
  transform: scale(0.9);
  transition: transform 800ms cubic-bezier(0.7, -0.5, 0.25, 1.5);
}
.cid-rGtR2MxTqJ .card .svg22,
.cid-rGtR2MxTqJ .card .svg32,
.cid-rGtR2MxTqJ .card .svg12 {
  z-index: 1;
  transform: scale(0.9) rotate(60deg);
}
.cid-rGtR2MxTqJ .card .svg21,
.cid-rGtR2MxTqJ .card .svg31,
.cid-rGtR2MxTqJ .card .svg11 {
  z-index: 2;
}
.cid-rGtR2MxTqJ .card div {
  z-index: 3;
}
.cid-rGtR2MxTqJ .card .card-img {
  position: absolute;
  right: 30px;
  top: 30px;
}
@keyframes animationFrames {
  0% {
    transform: translate(0px, 20px);
  }
  33% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
  66% {
    transform: translate(0px, -30px);
    opacity: 0;
  }
  67% {
    transform: translate(0px, 60px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
}
@keyframes animationFramesOut {
  0% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
  33% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
  66% {
    transform: translate(0px, 60px);
    opacity: 0;
  }
  67% {
    transform: translate(0px, -30px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
}
.cid-rGtR2MxTqJ .card-img {
  background: white;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.3);
}
.cid-rGtR2MxTqJ .mbr-iconfont {
  color: #383838 !important;
  font-size: 2.5rem!important;
}
.cid-rGtR2MxTqJ .link a {
  position: relative;
  margin: 0;
  font-weight: 600;
}
.cid-rGtR2MxTqJ .link a:after {
  position: absolute;
  content: "\e967";
  font-family: 'mobirise-icons-bold' !important;
  right: -30px;
  top: -1px;
  color: currentColor;
}
.cid-rGtR2MxTqJ .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-rGtR2MxTqJ .card {
    margin-bottom: 2rem;
  }
  .cid-rGtR2MxTqJ .card svg {
    left: 30px;
  }
  .cid-rGtR2MxTqJ .card:hover h4 {
    animation: none;
  }
  .cid-rGtR2MxTqJ .link {
    opacity: 1;
    transform: translate(-10px, 10px);
  }
  .cid-rGtR2MxTqJ h4 {
    animation: none;
  }
}
@media (max-width: 767px) {
  .cid-rGtR2MxTqJ .card {
    max-width: 360px;
  }
  .cid-rGtR2MxTqJ .card svg {
    left: 10px;
  }
}
.cid-rGtR35bime {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rGtR35bime .content {
    max-width: 550px;
    margin: auto 0;
  }
}
@media (min-width: 767px) {
  .cid-rGtR35bime .content {
    padding: 0 2rem;
  }
}
.cid-rGtR35bime .img-col {
  padding: 0;
}
.cid-rGtR35bime .icon-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
}
.cid-rGtR35bime .icon-wrap h3 {
  margin: 0;
}
.cid-rGtR35bime .align-wrap {
  width: fit-content;
  display: inline-block;
}
.cid-rGtR35bime .mbr-iconfont {
  font-size: 1.8rem;
  padding-right: 0.8rem;
  padding-bottom: 4px;
}
.cid-rGtR35bime .icon-title,
.cid-rGtR35bime .mbr-iconfont {
  color: #181818;
}
.cid-rGtR35bime .icons-wrap {
  display: flex;
}
@media (max-width: 992px) {
  .cid-rGtR35bime .content {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rGtR35bime .icons-wrap {
    flex-direction: column;
  }
  .cid-rGtR35bime .icon-wrap {
    margin-right: 0rem;
  }
}
.cid-rGtR3muz6c {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rGtR3muz6c .mbr-text {
  color: #767676;
}
.cid-rGtR3muz6c .mbr-iconfont {
  color: #7aba59 !important;
  font-size: 4rem!important;
}
.cid-rGtR3muz6c .card-img {
  margin-bottom: 3rem;
}
.cid-rGtR3muz6c .card-wrapper {
  background: #f2f2f4;
  padding: 3rem 2rem;
  border-radius: 30px;
}
.cid-rGtR3muz6c .link {
  margin: 0;
}
.cid-rGtR3muz6c p {
  font-weight: 400;
}
.cid-rGtR3muz6c .link a {
  position: relative;
  margin: 0;
  font-weight: 600;
  transition: all 0.3s;
}
.cid-rGtR3muz6c .link a:hover {
  color: #181818 !important;
}
.cid-rGtR3muz6c .link a:after {
  position: absolute;
  content: "\e967";
  font-family: 'mobirise-icons-bold' !important;
  right: -30px;
  top: -1px;
  color: currentColor;
}
.cid-rGtR3muz6c .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-rGtR3muz6c .card {
    margin-bottom: 3rem;
  }
}
.cid-rGtR3muz6c .mbr-text,
.cid-rGtR3muz6c .link {
  color: #383838;
}
@media (max-width: 767px) {
  .cid-rGtR3muz6c .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-rGtR3NTgPj {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rGtR3NTgPj .content {
    max-width: 550px;
    margin: auto 0;
  }
}
@media (min-width: 767px) {
  .cid-rGtR3NTgPj .content {
    padding: 0 2rem;
  }
}
.cid-rGtR3NTgPj .row {
  justify-content: flex-end;
}
.cid-rGtR3NTgPj .img-col {
  padding: 0;
}
.cid-rGtR3NTgPj .icon-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
}
.cid-rGtR3NTgPj .icon-wrap h3 {
  margin: 0;
}
.cid-rGtR3NTgPj .align-wrap {
  width: fit-content;
  display: inline-block;
}
.cid-rGtR3NTgPj .mbr-iconfont {
  font-size: 1.8rem;
  padding-right: 0.8rem;
  padding-bottom: 4px;
}
.cid-rGtR3NTgPj .icon-title,
.cid-rGtR3NTgPj .mbr-iconfont {
  color: #181818;
}
.cid-rGtR3NTgPj .icons-wrap {
  display: flex;
}
@media (max-width: 992px) {
  .cid-rGtR3NTgPj .content {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rGtR3NTgPj .icons-wrap {
    flex-direction: column;
  }
  .cid-rGtR3NTgPj .icon-wrap {
    margin-right: 0rem;
  }
}
.cid-rGtR41owCd {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rGtR41owCd li {
  list-style: none;
}
.cid-rGtR41owCd .item-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cid-rGtR41owCd .item-wrap:hover .mbr-iconfont {
  color: #181818 !important;
}
.cid-rGtR41owCd .mbr-iconfont {
  font-size: 22px!important;
  padding-right: 12px;
  transition: all 0.3s;
  font-weight: 900;
  color: #7aba59 !important;
}
.cid-rGtR41owCd h4 {
  margin: 0;
}
.cid-rGtR41owCd ul {
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .cid-rGtR41owCd .md-pb {
    padding-bottom: 1rem;
  }
}
.cid-rGtR41owCd .col-title2 {
  color: #ed6436;
}
.cid-rGtR4gKLIa {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rGtR4gKLIa .content {
    max-width: 550px;
    margin: auto 0;
  }
}
@media (min-width: 767px) {
  .cid-rGtR4gKLIa .content {
    padding: 0 2rem;
  }
}
.cid-rGtR4gKLIa .img-col {
  padding: 0;
}
.cid-rGtR4gKLIa .icon-wrap {
  width: fit-content;
  padding-bottom: 1.5rem;
}
.cid-rGtR4gKLIa p {
  font-weight: 700;
  line-height: 1.6;
}
.cid-rGtR4gKLIa .mbr-iconfont {
  font-size: 5rem;
  color: #ed6436 !important;
}
.cid-rGtR4gKLIa .icon-title,
.cid-rGtR4gKLIa .mbr-iconfont {
  color: #181818;
}
@media (max-width: 992px) {
  .cid-rGtR4gKLIa .content {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rGtR4gKLIa .icon-wrap {
    margin: auto;
  }
}
.cid-rGtR4gKLIa H3 {
  color: #ed6436;
}
.cid-rGtR4FQLM2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #ffffff;
}
.cid-rGtR4FQLM2 .price-term {
  vertical-align: top;
}
@media (min-width: 1200px) {
  .cid-rGtR4FQLM2 .container {
    max-width: 1300px;
    padding: 0 2rem;
  }
}
.cid-rGtR4FQLM2 h4 {
  margin: 0;
}
.cid-rGtR4FQLM2 .card1 {
  background: #f2f2f4;
}
.cid-rGtR4FQLM2 .card2 {
  background: #ed6436;
}
.cid-rGtR4FQLM2 .icon {
  font-size: 4rem;
  color: #181818;
  display: inline-block;
}
@media (min-width: 767px) {
  .cid-rGtR4FQLM2 .center-card {
    transform: scale(1.1);
    padding: 0;
    z-index: 10;
    background: #ed6436;
    border-radius: 30px;
  }
}
.cid-rGtR4FQLM2 .plan-item {
  flex-direction: row-reverse;
  padding: 0 1rem;
}
.cid-rGtR4FQLM2 .plan-item .mbr-iconfont {
  margin-left: 2rem;
  font-size: 18px;
  position: relative;
  top: 8px;
}
.cid-rGtR4FQLM2 .plan-item p {
  margin: 0;
  padding: 6px 0;
  font-weight: 500;
  width: 100%;
}
.cid-rGtR4FQLM2 .plan-body .mbr-section-btn {
  padding: 44px 0 0;
}
.cid-rGtR4FQLM2 .plan-body .mbr-section-btn .btn {
  margin-bottom: 14px;
}
.cid-rGtR4FQLM2 .plan-header {
  padding: 2rem 2rem 0rem 2rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.cid-rGtR4FQLM2 .plan-body {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 1rem 1rem;
}
.cid-rGtR4FQLM2 .plan-price {
  padding: 2rem 1rem;
}
.cid-rGtR4FQLM2 .plan {
  word-break: break-word;
  position: relative;
  max-width: 400px;
  margin-bottom: 1rem;
}
.cid-rGtR4FQLM2 .row {
  justify-content: center;
}
.cid-rGtR4FQLM2 .price-value,
.cid-rGtR4FQLM2 .price-value2 {
  vertical-align: top;
}
@media (max-width: 992px) {
  .cid-rGtR4FQLM2 .plan {
    margin-bottom: 3rem;
  }
  .cid-rGtR4FQLM2 .content {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rGtR4FQLM2 .plan-price {
    padding: 2rem 1rem;
  }
  .cid-rGtR4FQLM2 .plan-body {
    padding: 0;
  }
  .cid-rGtR4FQLM2 .plan-header {
    padding: 2rem 1rem;
  }
}
.cid-rGtR4FQLM2 .plan-title {
  color: #ed6436;
}
.cid-rGtR4FQLM2 .plan-title2 {
  color: #ffffff;
}
.cid-rGtR4FQLM2 .month2,
.cid-rGtR4FQLM2 .plan-header {
  color: #ffffff;
}
.cid-rGtR4FQLM2 .item2 {
  color: #ffffff;
}
.cid-rGtR4FQLM2 .price-figure2 {
  color: #ffffff;
}
.cid-rGtR4FQLM2 .price-value2 {
  color: #ffffff;
}
.cid-rGtR4FQLM2 H2 {
  color: #ed6436;
}
.cid-rGtR57iLe2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rGtR57iLe2 .content {
    max-width: 550px;
    margin: auto 0;
  }
}
@media (min-width: 767px) {
  .cid-rGtR57iLe2 .content {
    padding: 0 2rem;
  }
}
.cid-rGtR57iLe2 .row {
  justify-content: flex-end;
}
.cid-rGtR57iLe2 .img-col {
  padding: 0;
}
.cid-rGtR57iLe2 .icon-wrap {
  display: flex;
  margin-bottom: 2rem;
}
.cid-rGtR57iLe2 .icon-wrap p {
  margin-bottom: 0.2rem;
}
.cid-rGtR57iLe2 .align-wrap {
  width: fit-content;
  display: inline-block;
}
.cid-rGtR57iLe2 .mbr-iconfont {
  font-size: 3.5rem;
  color: #7aba59 !important;
  padding-right: 1.5rem;
  padding-bottom: 4px;
}
.cid-rGtR57iLe2 .icon-title,
.cid-rGtR57iLe2 .mbr-iconfont {
  color: #ed6436;
}
.cid-rGtR57iLe2 .icons-wrap {
  display: flex;
}
@media (max-width: 992px) {
  .cid-rGtR57iLe2 .content {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rGtR57iLe2 .icons-wrap {
    flex-direction: column;
  }
  .cid-rGtR57iLe2 .icon-wrap {
    margin-right: 0rem;
    flex-direction: column;
  }
  .cid-rGtR57iLe2 .link-wrap {
    margin: auto;
  }
  .cid-rGtR57iLe2 .align-wrap {
    width: 100%;
    text-align: center;
  }
  .cid-rGtR57iLe2 .mbr-iconfont {
    padding-right: 0rem;
    padding-bottom: 1rem;
  }
}
.cid-rGtR57iLe2 .link-wrap {
  position: relative;
  height: 130px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.cid-rGtR57iLe2 .link-wrap .bone {
  position: absolute;
  left: calc(50% - 125px);
  top: 0;
}
.cid-rGtR57iLe2 .link-wrap h3 {
  z-index: 10;
  margin: 0;
  transform: rotate(-6deg);
}
.cid-rGtR57iLe2 .link-wrap:hover {
  transform: rotate(12deg);
}
.cid-rGtR5sLBjf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rGtR5sLBjf li {
  list-style: none;
}
.cid-rGtR5sLBjf .item-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cid-rGtR5sLBjf .item-wrap:hover .mbr-iconfont {
  color: #181818 !important;
}
.cid-rGtR5sLBjf .mbr-iconfont {
  font-size: 22px!important;
  padding-right: 12px;
  transition: all 0.3s;
  font-weight: 900;
  color: #7aba59 !important;
}
.cid-rGtR5sLBjf h4 {
  margin: 0;
}
.cid-rGtR5sLBjf ul {
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .cid-rGtR5sLBjf .md-pb {
    padding-bottom: 1rem;
  }
}
.cid-rGtR5sLBjf .col-title2 {
  color: #ed6436;
}
.cid-rOe4PJuR5M {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  background-color: #ffffff;
}
.cid-rOe4PJuR5M .accordion .card {
  overflow: hidden;
}
@media (min-width: 992px) {
  .cid-rOe4PJuR5M .acc {
    max-width: 550px;
    margin: auto 0;
  }
}
@media (min-width: 767px) {
  .cid-rOe4PJuR5M .acc {
    padding: 0 2rem;
  }
}
.cid-rOe4PJuR5M .img-col {
  padding: 0;
}
.cid-rOe4PJuR5M .card {
  border: 1px solid lightgray!important;
  border-radius: 20px!important;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  padding: 0.8rem 0.2rem;
}
.cid-rOe4PJuR5M .card .card-header {
  padding: 0;
  background: transparent;
  margin-bottom: 0px;
  border: none;
}
.cid-rOe4PJuR5M .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: 0px;
  line-height: normal;
}
.cid-rOe4PJuR5M .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rOe4PJuR5M .card .card-header a.panel-title h4 {
  padding: 0.8rem 1.6rem;
  margin-bottom: -1px;
}
.cid-rOe4PJuR5M .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rOe4PJuR5M .card .panel-body {
  color: #767676;
}
.cid-rOe4PJuR5M .card:hover {
  background: #f2f2f4;
}
.cid-rOe4PJuR5M .sign {
  font-family: 'Moririse2' !important;
  font-size: 1rem!important;
  margin-right: 1rem;
  padding: 11px;
  height: 39px;
  width: 39px;
  border-radius: 100%;
  background: #7aba59;
}
.cid-rOe4PJuR5M .panel-title {
  display: flex!important;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.cid-rOe4PJuR5M .mbri-arrow-down:before {
  content: "\e960";
}
.cid-rOe4PJuR5M .panel-text {
  padding: 0rem;
  color: #383838;
}
.cid-rOe4PJuR5M .panel-collapse {
  margin-top: -1px;
}
.cid-rOe4PJuR5M H4 {
  color: #181818;
}
@media (max-width: 992px) {
  .cid-rOe4PJuR5M .img-col {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rOe4PJuR5M .panel-text {
    padding: 0 0.5rem;
  }
  .cid-rOe4PJuR5M .icon-left {
    margin-left: 0.5rem;
  }
  .cid-rOe4PJuR5M .sign {
    margin-right: 0.5rem;
  }
}
.cid-rGtR6OAlMl {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rGtR6OAlMl .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.7;
}
.cid-rGtR6OAlMl .select {
  z-index: 9999;
}
.cid-rGtR6OAlMl img {
  border-radius: 100%;
  height: 500px;
  width: 500px;
  margin: auto;
  object-fit: cover;
}
.cid-rGtR6OAlMl .mbr-form {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 992px) {
  .cid-rGtR6OAlMl .mbr-form {
    max-width: 500px;
  }
}
.cid-rGtR6OAlMl .col-auto {
  width: 100%;
  margin: auto;
}
.cid-rGtR6OAlMl .col-auto .btn {
  width: -webkit-fill-available;
}
.cid-rGtR6OAlMl .img-col {
  padding: 0;
}
.cid-rGtR6OAlMl form {
  padding: 2rem 2rem;
  background: #f2f2f4;
  border-radius: 30px;
}
.cid-rGtR6OAlMl .jq-selectbox__dropdown,
.cid-rGtR6OAlMl ul {
  border-radius: 20px!important;
}
.cid-rGtR6OAlMl .jq-selectbox {
  border-radius: 30px;
}
.cid-rGtR6OAlMl .jq-selectbox__select {
  padding: 1.2rem 1.5rem;
}
.cid-rGtR6OAlMl .jq-selectbox li {
  padding: 1.2rem 1.5rem;
}
.cid-rGtR6OAlMl input,
.cid-rGtR6OAlMl textarea,
.cid-rGtR6OAlMl .select {
  border-radius: 30px;
}
.cid-rGtR6OAlMl input,
.cid-rGtR6OAlMl textarea {
  padding: 2rem 3rem;
}
.cid-rGtR6OAlMl textarea {
  min-height: 10rem;
}
.cid-rGtR6OAlMl .form-control,
.cid-rGtR6OAlMl .field-input {
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border-color: #f2f2f4;
  color: #181818;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rGtR6OAlMl .form-control::-webkit-input-placeholder,
.cid-rGtR6OAlMl .field-input::-webkit-input-placeholder,
.cid-rGtR6OAlMl .form-control::-webkit-input-placeholder,
.cid-rGtR6OAlMl .field-input::-webkit-input-placeholder {
  color: #383838;
}
.cid-rGtR6OAlMl .form-control:-moz-placeholder,
.cid-rGtR6OAlMl .field-input:-moz-placeholder,
.cid-rGtR6OAlMl .form-control:-moz-placeholder,
.cid-rGtR6OAlMl .field-input:-moz-placeholder {
  color: #383838;
}
.cid-rGtR6OAlMl .form-control:hover,
.cid-rGtR6OAlMl .field-input:hover,
.cid-rGtR6OAlMl .form-control:focus,
.cid-rGtR6OAlMl .field-input:focus {
  background-color: #ffffff;
  border-color: #ed6436;
  color: #181818;
  box-shadow: none;
  outline: none;
}
.cid-rGtR6OAlMl .form-control:hover::-webkit-input-placeholder,
.cid-rGtR6OAlMl .field-input:hover::-webkit-input-placeholder,
.cid-rGtR6OAlMl .form-control:focus::-webkit-input-placeholder,
.cid-rGtR6OAlMl .field-input:focus::-webkit-input-placeholder,
.cid-rGtR6OAlMl .form-control:hover::-webkit-input-placeholder,
.cid-rGtR6OAlMl .field-input:hover::-webkit-input-placeholder,
.cid-rGtR6OAlMl .form-control:focus::-webkit-input-placeholder,
.cid-rGtR6OAlMl .field-input:focus::-webkit-input-placeholder {
  color: #383838;
}
.cid-rGtR6OAlMl .form-control:hover:-moz-placeholder,
.cid-rGtR6OAlMl .field-input:hover:-moz-placeholder,
.cid-rGtR6OAlMl .form-control:focus:-moz-placeholder,
.cid-rGtR6OAlMl .field-input:focus:-moz-placeholder,
.cid-rGtR6OAlMl .form-control:hover:-moz-placeholder,
.cid-rGtR6OAlMl .field-input:hover:-moz-placeholder,
.cid-rGtR6OAlMl .form-control:focus:-moz-placeholder,
.cid-rGtR6OAlMl .field-input:focus:-moz-placeholder {
  color: #383838;
}
.cid-rGtR6OAlMl .jq-number__spin:hover,
.cid-rGtR6OAlMl .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #ed6436;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rGtR6OAlMl .jq-number__spin {
  background-color: #ffffff;
  border-color: #f2f2f4;
  color: #181818;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rGtR6OAlMl .jq-selectbox li,
.cid-rGtR6OAlMl .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rGtR6OAlMl .jq-selectbox li:hover,
.cid-rGtR6OAlMl .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rGtR6OAlMl .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-rGtR6OAlMl .jq-number__spin.minus:hover:after,
.cid-rGtR6OAlMl .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rGtR6OAlMl .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-rGtR6OAlMl .jq-number__spin.minus:after,
.cid-rGtR6OAlMl .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rGtR6OAlMl input::-webkit-clear-button {
  display: none;
}
.cid-rGtR6OAlMl input::-webkit-inner-spin-button {
  display: none;
}
.cid-rGtR6OAlMl input::-webkit-outer-spin-button {
  display: none;
}
.cid-rGtR6OAlMl input::-webkit-calendar-picker-indicator {
  display: none;
}
@media (max-width: 992px) {
  .cid-rGtR6OAlMl .mbr-form {
    margin-bottom: 2rem;
  }
  .cid-rGtR6OAlMl img {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rGtR6OAlMl form {
    padding: 2rem 1rem;
  }
  .cid-rGtR6OAlMl .col-auto {
    margin: auto;
    width: 100%;
  }
  .cid-rGtR6OAlMl .mbr-form {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cid-rGtR6OAlMl img {
    height: 260px;
    width: 260px;
  }
}
.cid-rGtR6OAlMl H4 {
  color: #ed6436;
}
.cid-rGtR7R8cSt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rGtR7R8cSt .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.7;
}
.cid-rGtR7R8cSt img {
  width: 40px;
  height: 40px;
  margin-right: 0.8rem;
}
.cid-rGtR7R8cSt h3 {
  margin: 0;
}
.cid-rGtR7R8cSt .btn {
  width: 100%;
  border-radius: 30px;
  border-top-right-radius: 0;
  padding: 0.4rem 1rem;
}
.cid-rGtR7R8cSt .icons-wrap {
  display: flex;
  align-items: center;
}
.cid-rGtR7R8cSt .text-wrap {
  width: 100%;
}
.cid-rGtR7R8cSt .item-wrap {
  display: inline-block;
  width: fit-content;
}
.cid-rGtR7R8cSt .socicon-wrap {
  width: fit-content;
  display: flex;
  margin-bottom: 0.8rem;
}
.cid-rGtR7R8cSt .socicon-wrap .mbr-iconfont {
  font-size: 1.2rem;
  color: #ffffff !important;
  background: #ed6436;
  padding: 10px;
  margin-right: 0.6rem;
  border: 2px solid #ed6436;
  height: 40px;
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border-radius: 100%;
}
.cid-rGtR7R8cSt .socicon-wrap .mbr-iconfont:hover {
  background: #ffffff;
  color: #ed6436 !important;
  border: 2px solid #ed6436;
}
.cid-rGtR7R8cSt .socicon-wrap p {
  margin-bottom: 0.2rem;
}
.cid-rGtR7R8cSt .jq-selectbox__dropdown,
.cid-rGtR7R8cSt ul {
  border-radius: 20px!important;
}
.cid-rGtR7R8cSt .jq-selectbox {
  border-radius: 30px;
}
.cid-rGtR7R8cSt .jq-selectbox__select {
  padding: 1.2rem 1.5rem;
}
.cid-rGtR7R8cSt .jq-selectbox li {
  padding: 1.2rem 1.5rem;
}
.cid-rGtR7R8cSt input,
.cid-rGtR7R8cSt textarea,
.cid-rGtR7R8cSt .select {
  border-radius: 30px;
}
.cid-rGtR7R8cSt input,
.cid-rGtR7R8cSt textarea {
  padding: 1rem 2rem;
}
.cid-rGtR7R8cSt textarea {
  min-height: 10rem;
}
.cid-rGtR7R8cSt .form-control,
.cid-rGtR7R8cSt .field-input {
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border-color: #cccccc;
  color: #181818;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rGtR7R8cSt .form-control::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input::-webkit-input-placeholder,
.cid-rGtR7R8cSt .form-control::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input::-webkit-input-placeholder {
  color: #383838;
}
.cid-rGtR7R8cSt .form-control:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:-moz-placeholder,
.cid-rGtR7R8cSt .form-control:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:-moz-placeholder {
  color: #383838;
}
.cid-rGtR7R8cSt .form-control:hover,
.cid-rGtR7R8cSt .field-input:hover,
.cid-rGtR7R8cSt .form-control:focus,
.cid-rGtR7R8cSt .field-input:focus {
  background-color: #ffffff;
  border-color: #ed6436;
  color: #181818;
  box-shadow: none;
  outline: none;
}
.cid-rGtR7R8cSt .form-control:hover::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input:hover::-webkit-input-placeholder,
.cid-rGtR7R8cSt .form-control:focus::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input:focus::-webkit-input-placeholder,
.cid-rGtR7R8cSt .form-control:hover::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input:hover::-webkit-input-placeholder,
.cid-rGtR7R8cSt .form-control:focus::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input:focus::-webkit-input-placeholder {
  color: #383838;
}
.cid-rGtR7R8cSt .form-control:hover:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:hover:-moz-placeholder,
.cid-rGtR7R8cSt .form-control:focus:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:focus:-moz-placeholder,
.cid-rGtR7R8cSt .form-control:hover:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:hover:-moz-placeholder,
.cid-rGtR7R8cSt .form-control:focus:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:focus:-moz-placeholder {
  color: #383838;
}
.cid-rGtR7R8cSt .jq-number__spin:hover,
.cid-rGtR7R8cSt .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #ed6436;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rGtR7R8cSt .jq-number__spin {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #181818;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rGtR7R8cSt .jq-selectbox li,
.cid-rGtR7R8cSt .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rGtR7R8cSt .jq-selectbox li:hover,
.cid-rGtR7R8cSt .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rGtR7R8cSt .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-rGtR7R8cSt .jq-number__spin.minus:hover:after,
.cid-rGtR7R8cSt .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rGtR7R8cSt .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-rGtR7R8cSt .jq-number__spin.minus:after,
.cid-rGtR7R8cSt .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rGtR7R8cSt input::-webkit-clear-button {
  display: none;
}
.cid-rGtR7R8cSt input::-webkit-inner-spin-button {
  display: none;
}
.cid-rGtR7R8cSt input::-webkit-outer-spin-button {
  display: none;
}
.cid-rGtR7R8cSt input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-rGtR7R8cSt .col-md-6 {
  margin-bottom: 2rem;
}
.cid-rGtR7R8cSt .form-group {
  margin-bottom: 0.4rem;
}
.cid-rGtR7R8cSt .form-control {
  min-height: 2em;
  font-size: 1rem;
  text-align: center;
}
.cid-rGtR7R8cSt .title1 {
  margin: 0;
}
.cid-rGtR7R8cSt .align-wrap {
  display: block;
}
.cid-rGtR7R8cSt .mbr-iconfont {
  font-size: 1.2rem;
  color: #181818 !important;
  padding-right: 1rem;
}
@media (max-width: 767px) {
  .cid-rGtR7R8cSt form {
    padding: 0;
  }
  .cid-rGtR7R8cSt .socicon-wrap {
    margin: auto;
  }
}
.cid-rGtR7R8cSt .title {
  color: #ed6436;
}
.cid-rGtR88ABmx {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ed6436;
}
